<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilmeld dig</title>
    <link rel="stylesheet" href="../public/css/signup.css">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="../public/images/cupcakelogo.png" alt="Cupcake Logo">
        <h1>Tilmeld dig: </h1>
    </div>
    <div class="content">
        <form method="POST">
            <p>Usernavn:</p>
            <input type="text" name="name" placeholder="Navn"><br>

            <p>Kodeord:</p>
            <input type="password" name="password1" placeholder="Enter your password">

            <p>Kodeord igen:</p>
            <input type="password" name="password2" placeholder="Enter your password">

            <p>Email:</p>
            <input type="email" id="email" name="email" required><br>

            <p>Telefon:</p>
            <input type="tel" id="phone" name="phone" required><br>

            <button type="submit" formaction="/createuser">Tilmeld</button>
        </form>
    </div>

</body>
</html>