<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="../images/cupcakelogo.png" alt="Cupcake Logo">
        <h3>Log ind: </h3>
    </div>
    <div class="content">
        <form action="/login" method="POST">
            <label for="username">Brugernavn:</label><br>
            <input type="text" id="username" name="username" required><br>

            <label for="password">Kodeord:</label><br>
            <input type="password" id="password" name="password" required><br>

            <input type="submit" value="Log ind">
        </form>
    </div>
</div>
</body>
</html>
