<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilmeld dig</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="../images/cupcakelogo.png" alt="Cupcake Logo">
        <h1>Tilmeld dig: </h1>
    </div>
    <div class="content">
        <form action="/signup" method="POST">
            <label for="name">Usernavn:</label><br>
            <input type="text" id="name" name="name" required><br>

            <label for="password">Kodeord:</label><br>
            <input type="password" id="password" name="password" required><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>

            <label for="phone">Telefon:</label><br>
            <input type="tel" id="phone" name="phone" required><br>

            <label for="role">Rolle:</label><br>
            <select id="role" name="role" required>
                <option value="admin">Administrator</option>
                <option value="customer">Kunde</option>
            </select><br>

            <label for="bank">Bank:</label><br>
            <input type="number" id="bank" name="bank" required><br>

            <input type="submit" value="Tilmeld">
        </form>
    </div>
</div>
</body>
</html>
