<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velkom</title>
    <link rel="stylesheet" href="../css/welcomepage.css">
</head>
<body>
<div class="container">
    <div class="header">
        <img src="../images/cupcakelogo.png" alt="Cupcake Logo">
        <h1>Velkommen til Olsker Cupcakes</h1>
    </div>
    <div class="content">
        <p>Tilmeld dig gratis</p>
        <div class="options">
            <a href="signup.html">Tilmeld dig</a>
        </div>
        <p>Du har allerede en profil, log venligst ind</p>
        <div class="options">
            <a href="login.html">Log ind</a>
        </div>
    </div>
</div>
</body>
</html>
